<!-- Contact Tab Data -->

<div id="contact" *ngIf="contactuss">
  <section class="clearfix">
    <div class="g1">
      <div class="sny-icon-box">
        <div class="sny-icon">
          <i class="icon-globe"></i>
        </div>
        <div class="sny-icon-content">
          <h4>My Address</h4>
          <p>{{contactuss.address}}</p>
        </div>
      </div>
    </div>
    <div class="g1">
      <div class="sny-icon-box">
        <div class="sny-icon">
          <i class="icon-phone"></i>
        </div>
        <div class="sny-icon-content">
          <h4>Mobile Number</h4>
          <p>{{contactuss.moNumber}}</p>
        </div>
      </div>
    </div>
    <div class="g1">
      <div class="sny-icon-box">
        <div class="sny-icon">
          <i class="icon-user"></i>
        </div>
        <div class="sny-icon-content">
          <h4>About Me</h4>
          <p>{{contactuss.aboutme}}</p>
        </div>
      </div>
    </div>
    <div class="break"></div>

  </section>
</div>

<!-- End Contact Data -->
